.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pad1 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 100px; 
  width: 400px;
  float: left;
  
}
.pad2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 100px; 
  width: 400px;
  
}
.pad3{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 100px; 
  width: 400px;
}

.pad4{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 100px; 
  width: 400px;
  margin-left: 400px;
  position: relative;
  top: -210px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

 .board11{
   display: flex;
   justify-content: space-between;
   width: 100px;
   overflow: hidden;
   margin: 10px;
   padding-right: 1500px;

 }
 .board11 .board {
   display: flex;
   flex-direction: column;
   width: 100;
   max-width: 300px;
   background-color:skyblue;
   padding: 15px;

 }

 #board2 .board{
   padding: 15px;
   background-color:lawngreen;
   cursor: pointer;
   width: 100px;
   margin-bottom: 15px;
 }

 #board3 .board{
  padding: 15px;
  background-color:magenta;
  cursor: pointer;
  width: 100px;
  margin-bottom: 15px;
}

#board4 .board{
  padding: 15px;
  background-color:blueviolet;
  cursor: pointer;
  width: 100px;
  margin-bottom: 15px;
}

.Reset{
  position: absolute;
  top: 100px;
  right: 500px;
  color:blue;
  text-align: center;
  display: block;
  font-size: 40px;
}